.search_box{
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.home_box h3{
  line-height: 80px;
}

.list_item{
  padding-top: 1rem;
  border-bottom: 1px solid #f1f1f1;
}
.list_item:last-child{
  border-bottom: none;
}