#read_latex .ql-editor {
  padding: 2px 4px !important;
}

.ql-editor img {
  margin-bottom: 0;
}

#read_canvas,
#read_image {
  display: none;
}

.ql-formats .ql-print::after {
  content: url('data:image/svg+xml;%20charset=utf8,%3Csvg%20t=%221649743470460%22%20class=%22icon%22%20viewBox=%220%200%201024%201024%22%20version=%221.1%22%20xmlns=%22http://www.w3.org/2000/svg%22%20p-id=%222376%22%20width=%2218%22%20height=%2218%22%3E%3Cpath%20d=%22M704%20512v384H320V512h384z%20m-64%2064H384v256h256V576z%20m0-469.333333a64%2064%200%200%201%2064%2064v64h106.666667a64%2064%200%200%201%2064%2064v362.666666a64%2064%200%200%201-64%2064h-64v-64h64V298.666667H213.333333v362.666666h64v64h-64a64%2064%200%200%201-64-64V298.666667a64%2064%200%200%201%2064-64h106.666667V170.666667a64%2064%200%200%201%2064-64h256zM426.666667%20362.666667v64h-149.333334v-64h149.333334z%20m213.333333-192H384v64h256V170.666667z%22%20p-id=%222377%22%3E%3C/path%3E%3C/svg%3E');
}

#read_latex.quill .ql-container .ql-editor {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

#read_latex.quill .ql-container .ql-hidden {
  height: 0;
}

.quill {
  display: flex;
  flex-direction: column;
}

.ql-container {
  flex: 1;
  height: auto !important;
  overflow: hidden;
}

.read_quill{
  height: auto;
}
.read_quill .ant-card-body {
  padding: 0;
}
.read_quill .ql-toolbar,.read_quill .ql-tooltip-editor{
  display: none;
}
